In [57]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [70]:
## Load dataset
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [71]:
data.shape

(10000, 14)

In [72]:
## Preprocess Data
## Drop irrelevant features

data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [73]:
## Missing values?
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [74]:
## Encode Features : Categorical Features
## 1. Gender
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [75]:
## In Case of Geography column: if we use label encoder then 
#   ANN will consider the category greater which is encoded with higher value of number, And IT IS A MAJOR ISSUE

## We will do One Hot Encoding
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [76]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [77]:
## Assign encoded Geography to dataframe
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [78]:
## Combine onehot_encoded columns to data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [79]:
##  save the encoder and sscaler
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [80]:
## Divide the dataset into dependent and independent features
X = data.drop('Exited', axis=1)
y = data['Exited']

## Split the data into training and test set
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2,random_state=42)

## Scale down the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [81]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [97]:
## Save the scaler
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

False

## ANN Implementation

In [83]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [84]:
X_train.shape

(8000, 12)

In [85]:
## Build ANN model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), ## HiddenLayer 1 = Connected with InputLayer
    Dense(32, activation='relu'), ## HiddenLayer 2
    Dense(1, activation='sigmoid') ## Output Layer
])

In [86]:
## See how many total parameters our model has
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [87]:
# One way to initialize optimizer and loss from tensorflow
optimizer = tf.keras.optimizers.Adam(learning_rate=0.01) ## in this optimizer we can provide out own learning rate
loss = tf.keras.losses.BinaryCrossentropy()

In [88]:
## compile the model : to do forward and backward propagation

## Another way: to use string value to initialize directly while compiling model
# model.compile(optimizer="adam", loss="binary_crossentropy", metrics=['accuracy']) # here optimizer="adam" has fixed learning rate

model.compile(optimizer=optimizer, loss="binary_crossentropy", metrics=['accuracy'])

In [89]:
## Setup the Tensorboard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S") # Create logs directory
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1) ## to visualize all the logs while training the model, can be achieved with matplotlib as well

In [90]:
## Setup Early Stopping
# we can train the model for any number of epochs, and if our model while training for sometime has negligible change in loss then it is not necessory to train that model further
#   In that case we can apply early stopping to stop the training

early_stopping_callback = EarlyStopping(monitor='val_loss', patience=60, restore_best_weights=True) #patience=5 : weight till 5 epochs to stop if no change in loss

In [91]:
## Train the model
history = model.fit(
    X_train,y_train, validation_data=(X_test, y_test), epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3920 - accuracy: 0.8346 - val_loss: 0.3544 - val_accuracy: 0.8545
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3557 - accuracy: 0.8608 - val_loss: 0.3557 - val_accuracy: 0.8625
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3468 - accuracy: 0.8589 - val_loss: 0.3438 - val_accuracy: 0.8625
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8575 - val_loss: 0.3623 - val_accuracy: 0.8545
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8616 - val_loss: 0.3506 - val_accuracy: 0.8575
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8602 - val_loss: 0.3574 - val_accuracy: 0.8560
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8604 - val_loss: 0.3435 - val_accuracy: 0.8585
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8612 - val_loss: 0.3468 - val_accuracy: 0.8600
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8619 - val_loss: 0.3423 - val_accuracy: 0.8605
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8637 - val_loss: 0.3534 - val_accuracy: 0.8620
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3302 - accuracy: 0.8629 - val_loss: 0.3483 - val_accuracy: 0.8560
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8652 - val_loss: 0.3393 - val_accuracy: 0.8600
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3252 - accuracy: 0.8637 - val_loss: 0.3509 - val_accuracy: 0.8570
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3269 - accuracy: 0.8659 - val_loss: 0.3470 - val_accuracy: 0.8620
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3212 - accuracy: 0.8668 - val_loss: 0.3466 - val_accuracy: 0.8620
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3203 - accuracy: 0.8711 - val_loss: 0.3559 - val_accuracy: 0.8560
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3200 - accuracy: 0.8671 - val_loss: 0.3554 - val_accuracy: 0.8530
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3153 - accuracy: 0.8710 - val_loss: 0.3624 - val_accuracy: 0.8555
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3180 - accuracy: 0.8673 - val_loss: 0.3690 - val_accuracy: 0.8500
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3157 - accuracy: 0.8695 - val_loss: 0.3669 - val_accuracy: 0.8555
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3131 - accuracy: 0.8690 - val_loss: 0.3655 - val_accuracy: 0.8620
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3101 - accuracy: 0.8706 - val_loss: 0.3719 - val_accuracy: 0.8595
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3113 - accuracy: 0.8699 - val_loss: 0.3682 - val_accuracy: 0.8530
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3068 - accuracy: 0.8724 - val_loss: 0.3563 - val_accuracy: 0.8585
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3073 - accuracy: 0.8737 - val_loss: 0.3626 - val_accuracy: 0.8575
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3033 - accuracy: 0.8727 - val_loss: 0.3967 - val_accuracy: 0.8455
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3026 - accuracy: 0.8734 - val_loss: 0.3780 - val_accuracy: 0.8520
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2999 - accuracy: 0.8780 - val_loss: 0.3625 - val_accuracy: 0.8600
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2975 - accuracy: 0.8764 - val_loss: 0.3627 - val_accuracy: 0.8565
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2947 - accuracy: 0.8765 - val_loss: 0.3966 - val_accuracy: 0.8475
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2923 - accuracy: 0.8786 - val_loss: 0.3792 - val_accuracy: 0.8575
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2889 - accuracy: 0.8810 - val_loss: 0.4083 - val_accuracy: 0.8525
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2905 - accuracy: 0.8801 - val_loss: 0.4039 - val_accuracy: 0.8420
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2863 - accuracy: 0.8811 - val_loss: 0.4023 - val_accuracy: 0.8490
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2879 - accuracy: 0.8801 - val_loss: 0.4031 - val_accuracy: 0.8465
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2862 - accuracy: 0.8816 - val_loss: 0.3993 - val_accuracy: 0.8535
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2828 - accuracy: 0.8824 - val_loss: 0.4048 - val_accuracy: 0.8505
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2803 - accuracy: 0.8823 - val_loss: 0.4102 - val_accuracy: 0.8490
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2805 - accuracy: 0.8879 - val_loss: 0.4144 - val_accuracy: 0.8540
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2746 - accuracy: 0.8882 - val_loss: 0.4189 - val_accuracy: 0.8530
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2753 - accuracy: 0.8849 - val_loss: 0.4211 - val_accuracy: 0.8500
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2748 - accuracy: 0.8900 - val_loss: 0.4454 - val_accuracy: 0.8465
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2758 - accuracy: 0.8860 - val_loss: 0.4330 - val_accuracy: 0.8450
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2711 - accuracy: 0.8904 - val_loss: 0.4336 - val_accuracy: 0.8445
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2706 - accuracy: 0.8876 - val_loss: 0.4338 - val_accuracy: 0.8520
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2750 - accuracy: 0.8869 - val_loss: 0.4257 - val_accuracy: 0.8490
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2645 - accuracy: 0.8892 - val_loss: 0.4600 - val_accuracy: 0.8490
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2652 - accuracy: 0.8892 - val_loss: 0.4740 - val_accuracy: 0.8430
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2615 - accuracy: 0.8900 - val_loss: 0.4721 - val_accuracy: 0.8465
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2601 - accuracy: 0.8923 - val_loss: 0.4546 - val_accuracy: 0.8465
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2616 - accuracy: 0.8890 - val_loss: 0.4865 - val_accuracy: 0.8460
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2620 - accuracy: 0.8923 - val_loss: 0.4783 - val_accuracy: 0.8450
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2581 - accuracy: 0.8923 - val_loss: 0.4980 - val_accuracy: 0.8480
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2586 - accuracy: 0.8945 - val_loss: 0.4719 - val_accuracy: 0.8400
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2550 - accuracy: 0.8934 - val_loss: 0.5052 - val_accuracy: 0.8480
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2597 - accuracy: 0.8926 - val_loss: 0.4697 - val_accuracy: 0.8495
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2560 - accuracy: 0.8940 - val_loss: 0.4792 - val_accuracy: 0.8450
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2522 - accuracy: 0.8940 - val_loss: 0.5030 - val_accuracy: 0.8360
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2542 - accuracy: 0.8945 - val_loss: 0.4954 - val_accuracy: 0.8450
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2484 - accuracy: 0.8975 - val_loss: 0.5058 - val_accuracy: 0.8400
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2498 - accuracy: 0.8982 - val_loss: 0.5270 - val_accuracy: 0.8505
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2467 - accuracy: 0.8969 - val_loss: 0.5434 - val_accuracy: 0.8455
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2526 - accuracy: 0.8938 - val_loss: 0.4892 - val_accuracy: 0.8505
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2442 - accuracy: 0.8964 - val_loss: 0.5200 - val_accuracy: 0.8405
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2479 - accuracy: 0.8980 - val_loss: 0.5456 - val_accuracy: 0.8440
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2448 - accuracy: 0.8954 - val_loss: 0.5423 - val_accuracy: 0.8430
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2430 - accuracy: 0.8970 - val_loss: 0.5067 - val_accuracy: 0.8465
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2434 - accuracy: 0.8986 - val_loss: 0.5850 - val_accuracy: 0.8340
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2405 - accuracy: 0.8981 - val_loss: 0.5390 - val_accuracy: 0.8440
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2417 - accuracy: 0.9011 - val_loss: 0.5509 - val_accuracy: 0.8440
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2423 - accuracy: 0.8985 - val_loss: 0.5724 - val_accuracy: 0.8420
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2408 - accuracy: 0.8995 - val_loss: 0.5474 - val_accuracy: 0.8475

In [92]:
model.save('model.h5') ## h5 file is compatilbe with keras

c:\NLP_PROJECTS\classification_ann\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [93]:
## Load TensorBoard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [94]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 11560), started 1:38:07 ago. (Use '!kill 11560' to kill it.)