In [7]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import tensorflow as tf
from sklearn.model_selection import train_test_split
import pickle

WARNING:tensorflow:From c:\NLP_PROJECTS\ANN_classification_churn\ANN_classification_churn\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [8]:
data = pd.read_csv('./Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
## Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [19]:
for col in data.columns:
    print(data[col].value_counts())

CreditScore
850    233
678     63
655     54
705     53
667     53
      ...
404      1
351      1
365      1
417      1
419      1
Name: count, Length: 460, dtype: int64
Gender
1    5457
0    4543
Name: count, dtype: int64
Age
37    478
38    477
35    474
36    456
34    447
     ...
92      2
82      1
88      1
85      1
83      1
Name: count, Length: 70, dtype: int64
Tenure
2     1048
1     1035
7     1028
8     1025
5     1012
3     1009
4      989
9      984
6      967
10     490
0      413
Name: count, dtype: int64
Balance
0.00         3617
130170.82       2
105473.74       2
85304.27        1
159397.75       1
             ...
81556.89        1
112687.69       1
108698.96       1
238387.56       1
130142.79       1
Name: count, Length: 6382, dtype: int64
NumOfProducts
1    5084
2    4590
3     266
4      60
Name: count, dtype: int64
HasCrCard
1    7055
0    2945
Name: count, dtype: int64
IsActiveMember
1    5151
0    4849
Name: count, dtype: int64
EstimatedSalary
24924.92     2
101348.88    1
55313.44     1
72500.68     1
182692.80    1
            ..
120893.07    1
188377.21    1
55902.93     1
4523.74      1
38190.78     1
Name: count, Length: 9999, dtype: int64
Exited
0    7963
1    2037
Name: count, dtype: int64
Geography_France
1.0    5014
0.0    4986
Name: count, dtype: int64
Geography_Germany
0.0    7491
1.0    2509
Name: count, dtype: int64
Geography_Spain
0.0    7523
1.0    2477
Name: count, dtype: int64

In [10]:
## Encoding categorical featres
label_encoder_gender = LabelEncoder()
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')

data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

encoded_geo = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
encoded_geo_df = pd.DataFrame(encoded_geo, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [11]:
## Combine Geography encoded dataframe to original dataframe
data = pd.concat([data.reset_index(drop=True), encoded_geo_df], axis=1)
data = data.drop('Geography', axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [13]:
## Split data into dependent and independent features
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [22]:
## Train Test Split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

## Scale the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [23]:
# Save all pickle files
with open('label_encoder_gender0.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo0.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler0.pkl', 'wb') as file:
    pickle.dump(scaler, file)

In [24]:
## ANN Regression problem statement
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), #HL1
    Dense(32, activation='relu'), ##HL2
    Dense(1) ## Output Layer, default activation function is linear activation function
])

## compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

## Set up tensorboard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorboard_callbacks = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [26]:
## Setup Early stopping
early_stopping_callbacks = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [27]:
## Train the model
history = model.fit(
    X_train, y_train,
    validation_data = [X_test, y_test],
    epochs=100,
    callbacks=[early_stopping_callbacks, tensorboard_callbacks]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 100196.7031 - mae: 100196.7031 - val_loss: 99270.5703 - val_mae: 99270.5703
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99456.9766 - mae: 99456.9766 - val_loss: 97728.0781 - val_mae: 97728.0781
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 96765.8594 - mae: 96765.8594 - val_loss: 93705.7578 - val_mae: 93705.7578
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 91429.3672 - mae: 91429.3672 - val_loss: 87057.6016 - val_mae: 87057.6016
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 83675.6875 - mae: 83675.6875 - val_loss: 78409.7891 - val_mae: 78409.7891
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 74601.0703 - mae: 74601.0703 - val_loss: 69552.0938 - val_mae: 69552.0938
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 65779.7578 - mae: 65779.7578 - val_loss: 61906.6211 - val_mae: 61906.6211
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 58632.5391 - mae: 58632.5391 - val_loss: 56494.0547 - val_mae: 56494.0547
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 54001.7578 - mae: 54001.7578 - val_loss: 53615.4453 - val_mae: 53615.4453
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 51662.8203 - mae: 51662.8203 - val_loss: 52355.4883 - val_mae: 52355.4883
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 50703.0156 - mae: 50703.0156 - val_loss: 51871.1016 - val_mae: 51871.1016
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50362.7031 - mae: 50362.7031 - val_loss: 51686.8438 - val_mae: 51686.8438
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50219.1641 - mae: 50219.1641 - val_loss: 51581.2266 - val_mae: 51581.2266
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50136.4922 - mae: 50136.4922 - val_loss: 51514.7930 - val_mae: 51514.7930
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50062.2148 - mae: 50062.2148 - val_loss: 51455.1719 - val_mae: 51455.1719
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50000.0508 - mae: 50000.0508 - val_loss: 51414.4336 - val_mae: 51414.4336
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 49948.5078 - mae: 49948.5078 - val_loss: 51377.3398 - val_mae: 51377.3398
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 49898.7578 - mae: 49898.7578 - val_loss: 51342.4492 - val_mae: 51342.4492
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 49859.2227 - mae: 49859.2227 - val_loss: 51306.7695 - val_mae: 51306.7695
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 49818.7539 - mae: 49818.7539 - val_loss: 51275.8398 - val_mae: 51275.8398
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 49791.0273 - mae: 49791.0273 - val_loss: 51250.8555 - val_mae: 51250.8555
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 49760.3633 - mae: 49760.3633 - val_loss: 51222.0156 - val_mae: 51222.0156
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49736.8516 - mae: 49736.8516 - val_loss: 51198.9219 - val_mae: 51198.9219
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 49705.6602 - mae: 49705.6602 - val_loss: 51177.6133 - val_mae: 51177.6133
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 49684.1211 - mae: 49684.1211 - val_loss: 51155.2070 - val_mae: 51155.2070
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49663.3555 - mae: 49663.3555 - val_loss: 51132.8086 - val_mae: 51132.8086
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49645.7656 - mae: 49645.7656 - val_loss: 51118.0391 - val_mae: 51118.0391
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49628.1914 - mae: 49628.1914 - val_loss: 51093.5703 - val_mae: 51093.5703
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49609.9805 - mae: 49609.9805 - val_loss: 51081.9258 - val_mae: 51081.9258
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49593.3359 - mae: 49593.3359 - val_loss: 51065.1562 - val_mae: 51065.1562
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 49579.2266 - mae: 49579.2266 - val_loss: 51047.9102 - val_mae: 51047.9102
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49560.6445 - mae: 49560.6445 - val_loss: 51034.5547 - val_mae: 51034.5547
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49548.9336 - mae: 49548.9336 - val_loss: 51023.1562 - val_mae: 51023.1562
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49533.1289 - mae: 49533.1289 - val_loss: 51009.0430 - val_mae: 51009.0430
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49519.2695 - mae: 49519.2695 - val_loss: 50994.0859 - val_mae: 50994.0859
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49509.4102 - mae: 49509.4102 - val_loss: 50980.5117 - val_mae: 50980.5117
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49498.3242 - mae: 49498.3242 - val_loss: 50966.3828 - val_mae: 50966.3828
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 49484.2969 - mae: 49484.2969 - val_loss: 50955.9766 - val_mae: 50955.9766
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49478.9688 - mae: 49478.9688 - val_loss: 50945.2852 - val_mae: 50945.2852
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49467.7383 - mae: 49467.7383 - val_loss: 50933.7070 - val_mae: 50933.7070
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49455.9492 - mae: 49455.9492 - val_loss: 50925.6094 - val_mae: 50925.6094
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49446.4492 - mae: 49446.4492 - val_loss: 50921.1875 - val_mae: 50921.1875
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49437.2773 - mae: 49437.2773 - val_loss: 50913.4766 - val_mae: 50913.4766
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49430.5391 - mae: 49430.5391 - val_loss: 50902.0273 - val_mae: 50902.0273
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49424.0273 - mae: 49424.0273 - val_loss: 50893.6016 - val_mae: 50893.6016
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49412.9062 - mae: 49412.9062 - val_loss: 50884.3008 - val_mae: 50884.3008
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49408.1328 - mae: 49408.1328 - val_loss: 50880.1094 - val_mae: 50880.1094
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49400.7305 - mae: 49400.7305 - val_loss: 50872.9297 - val_mae: 50872.9297
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49395.2461 - mae: 49395.2461 - val_loss: 50867.8672 - val_mae: 50867.8672
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49388.2812 - mae: 49388.2812 - val_loss: 50862.2852 - val_mae: 50862.2852
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49382.9844 - mae: 49382.9844 - val_loss: 50856.6758 - val_mae: 50856.6758
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49375.8438 - mae: 49375.8438 - val_loss: 50851.2852 - val_mae: 50851.2852
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 49367.5039 - mae: 49367.5039 - val_loss: 50845.2891 - val_mae: 50845.2891
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 49369.0469 - mae: 49369.0469 - val_loss: 50840.8477 - val_mae: 50840.8477
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 49359.1641 - mae: 49359.1641 - val_loss: 50834.7891 - val_mae: 50834.7891
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 49355.6406 - mae: 49355.6406 - val_loss: 50828.7344 - val_mae: 50828.7344
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 49350.5000 - mae: 49350.5000 - val_loss: 50830.3359 - val_mae: 50830.3359
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 49343.1992 - mae: 49343.1992 - val_loss: 50828.3945 - val_mae: 50828.3945
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 49342.4805 - mae: 49342.4805 - val_loss: 50815.8438 - val_mae: 50815.8438
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 49336.8242 - mae: 49336.8242 - val_loss: 50820.7930 - val_mae: 50820.7930
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 49331.0000 - mae: 49331.0000 - val_loss: 50813.6523 - val_mae: 50813.6523
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 49324.9023 - mae: 49324.9023 - val_loss: 50814.4688 - val_mae: 50814.4688
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 49320.4492 - mae: 49320.4492 - val_loss: 50810.2773 - val_mae: 50810.2773
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 49319.7617 - mae: 49319.7617 - val_loss: 50802.8125 - val_mae: 50802.8125
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 49312.3008 - mae: 49312.3008 - val_loss: 50801.4961 - val_mae: 50801.4961
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 49308.7031 - mae: 49308.7031 - val_loss: 50794.5156 - val_mae: 50794.5156
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 49305.0078 - mae: 49305.0078 - val_loss: 50797.6367 - val_mae: 50797.6367
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 49299.5938 - mae: 49299.5938 - val_loss: 50795.3711 - val_mae: 50795.3711
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 49296.0195 - mae: 49296.0195 - val_loss: 50787.1875 - val_mae: 50787.1875
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 49295.4922 - mae: 49295.4922 - val_loss: 50784.9609 - val_mae: 50784.9609
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 49291.0352 - mae: 49291.0352 - val_loss: 50779.3672 - val_mae: 50779.3672
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 49282.9961 - mae: 49282.9961 - val_loss: 50781.1992 - val_mae: 50781.1992
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 49281.7188 - mae: 49281.7188 - val_loss: 50779.1406 - val_mae: 50779.1406
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 49277.9727 - mae: 49277.9727 - val_loss: 50778.2930 - val_mae: 50778.2930
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 49272.8555 - mae: 49272.8555 - val_loss: 50781.9883 - val_mae: 50781.9883
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 49271.6211 - mae: 49271.6211 - val_loss: 50778.6758 - val_mae: 50778.6758
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 49265.0195 - mae: 49265.0195 - val_loss: 50775.8047 - val_mae: 50775.8047
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 49264.7852 - mae: 49264.7852 - val_loss: 50778.0234 - val_mae: 50778.0234
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 49261.3516 - mae: 49261.3516 - val_loss: 50772.1211 - val_mae: 50772.1211
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 49256.2812 - mae: 49256.2812 - val_loss: 50767.3633 - val_mae: 50767.3633
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 49255.3047 - mae: 49255.3047 - val_loss: 50768.2891 - val_mae: 50768.2891
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 49250.5898 - mae: 49250.5898 - val_loss: 50764.3633 - val_mae: 50764.3633
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 49246.9727 - mae: 49246.9727 - val_loss: 50764.0312 - val_mae: 50764.0312
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 49246.1094 - mae: 49246.1094 - val_loss: 50758.2227 - val_mae: 50758.2227
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 49240.7930 - mae: 49240.7930 - val_loss: 50758.0625 - val_mae: 50758.0625
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 49241.4883 - mae: 49241.4883 - val_loss: 50758.2695 - val_mae: 50758.2695
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 49233.3359 - mae: 49233.3359 - val_loss: 50761.4688 - val_mae: 50761.4688
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 49231.8359 - mae: 49231.8359 - val_loss: 50753.4766 - val_mae: 50753.4766
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 49228.8945 - mae: 49228.8945 - val_loss: 50751.5430 - val_mae: 50751.5430
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 49227.7734 - mae: 49227.7734 - val_loss: 50751.7656 - val_mae: 50751.7656
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 49225.8281 - mae: 49225.8281 - val_loss: 50749.7656 - val_mae: 50749.7656
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 49221.6367 - mae: 49221.6367 - val_loss: 50756.4961 - val_mae: 50756.4961
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 49220.3359 - mae: 49220.3359 - val_loss: 50750.6875 - val_mae: 50750.6875
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 49215.9258 - mae: 49215.9258 - val_loss: 50754.6289 - val_mae: 50754.6289
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 49212.4062 - mae: 49212.4062 - val_loss: 50757.6719 - val_mae: 50757.6719
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 49210.6914 - mae: 49210.6914 - val_loss: 50753.3008 - val_mae: 50753.3008
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 49207.2578 - mae: 49207.2578 - val_loss: 50753.0117 - val_mae: 50753.0117
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 49205.2266 - mae: 49205.2266 - val_loss: 50749.3828 - val_mae: 50749.3828
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 49200.6836 - mae: 49200.6836 - val_loss: 50748.3398 - val_mae: 50748.3398
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 49199.4219 - mae: 49199.4219 - val_loss: 50743.5195 - val_mae: 50743.5195

In [1]:
%load_ext tensorboard

In [4]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 31920), started 19:37:20 ago. (Use '!kill 31920' to kill it.)

In [47]:
## Evaluate model on test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 [==============================] - 0s 933us/step - loss: 50743.5195 - mae: 50743.5195
Test MAE: 50743.51953125

In [48]:
## save model file
model.save('regression_model.h5')

c:\NLP_PROJECTS\ANN_classification_churn\ANN_classification_churn\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(